/*working on carousel*/
.bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 0.2rem;
}

.carousel {
    position: relative;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}


.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255,255,255,.5);
}

.carousel-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.carousel-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease,-webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.w-100 {
    width: 100%!important;
}

.d-block {
    display: block!important;
}

img {
    vertical-align: middle;
    border-style: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
}

.carousel-control-prev-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E)
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
}

.carousel-control-next-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E)
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.bd-example::after {
    display: block;
    clear: both;
    content: "";
}

/*sets the font for all headings, lavendar background color, and black text*/

/*ig icon*/
#fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

#fa-instagram {
    background: #f803e3;
    color: white;
  }

/*FONT TESTING*/
/*Oi font, Delicus font, Erica font*/
/** {
    font-family: 'Oi', cursive;
    background-color: #eddcd9;
}*/

/*Major Mono Font*/
* {
    font-family: 'Major Mono Display', monospace;
    background-color: white;
}

/*HOME PAGE STYLING*/

h1.display-4 {
    color: black;
}

#home-page {
    justify-content: center;
}

#text-over-img {
    background-color: transparent;
    text-align: left;
}

.stats {
    font-family: 'Major Mono Display', monospace;
    background-color: transparent;
    list-style-type: none;
    color: black;
}

#behind-nav {
    background-color: white;
    margin-top: -10px;
}

/*removes the lines from under the links, changes color to black*/
a {
    text-decoration: none;
    color: black;
}

a.nav-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.jumbotron {
    margin-bottom: 0px;
}

/*remvoes the ugly blue hover aspect and change to desired style*/
a.nav-link:hover {
    color: #881a07;
}

h1 {
    font-size: 75px;
    text-align: center;
    padding-top: 50px;
}

nav {
    text-align: center;
    padding-bottom: 50px;
}

.nav-link {
    font-family: 'Major Mono Display', monospace;
}

#img-fluid {
    max-width: 100%;
    height: auto;
    align-items: right;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 10px;
}

/*makes the nav bar into a flex box for responsive design, allows it to stack vertically with smaller screen*/
#nav-flex {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: white;
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    color: black;
    text-decoration: none;
}

header {
    text-align: center;
    padding-right: 40px;
    padding-bottom: 50px;
}

/*CARD STYLING*/
/*this is what is causing the white rectangles on the editorial photos*/
/*.card {
    width: 18rem;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eddcd9;
}*/

.card {
    width: 18rem;
}

#com-cards {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

#edi-cards {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

/*CONTACT STYLING*/
/*style for the form font*/
#contact-font {
    font-family: 'Major Mono Display', monospace;
}

/*spacing out form components*/
.form-group {
    padding-top: 20px;
    padding-bottom: 20px;
}

#contact-title {
    padding-top: 20px;
}

/*MOBILE RESPONSIVE*/

/*defines the size of screen at which the responsive design kicks in*/
@media screen and (max-width: 1101px) {
    article {
        align-items: center;
    }

    article div {
        align-items: center;
        width: 100%;
    }

    .big-box {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    #nav-flex {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}