/*ALL CSS CHANGES GO HERE*/

/*sets the font for all headings, lavendar background color, and black text*/
/*FONT TESTING*/
/*Oi font, Major Mono font, Delicus font, Erica font*/
* {
    font-family: 'Oi', cursive;
    background-color:#f0ece2;
}

h1 {
    color: black;
}

/*style for the form font*/
#contact-font {
    font-family:Arial, Helvetica, sans-serif;
}

/*spacing out form components*/
.form-group {
    padding-top: 20px;
    padding-bottom: 20px;
}

#behind-nav {
    background-color:#f0ece2; 
}

#contact-title {
    padding-top: 20px;
}

/*removes the lines from under the links, changes color to black*/
a {
    text-decoration: none;
    color: #69779b;
}

a.nav-link {
    text-decoration: none;
    color: #69779b;
}

h1 {
    font-size: 75px;
    text-align: center;
    padding-top: 50px;
}

nav {
    text-align: center;
    padding-bottom: 50px;

}

/*makes the nav bar into a flex box for responsive design, allows it to stack vertically with smaller screen*/
#nav-flex {
    padding-top: 50px;
    background-color:#f0ece2;
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    color: #69779b;
    text-decoration: none;
}

header {
    text-align: center;
    padding-right: 40px;
    padding-bottom: 50px;
}

/*defines the size of screen at which the responsive design kicks in*/
@media screen and (max-width: 1101px) {
    article {
        align-items: center;
    }

    article div {
        align-items: center;
        width: 100%;
    }

    .big-box {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    #nav-flex {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}